.main-image {
        position: relative;
        display: table;
        width: 100%;
        height: 50vh;
        margin-bottom: 5rem;
        text-align: center;
        background: #222 no-repeat center center;
        background-size: cover;
        overflow: hidden;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

.attrib {
      position:absolute;
      bottom:10px;
      right: 20px;
      text-align: right;
      color: #F5F5F5;
    }
    
body {
  font-size: 14pt; 
   }
   
.gloss {
  font-variant:small-caps;
}

#htmlwidget-244aaddf2639520a3f5a{ /*карты на about. временное решение*/
  width: 100% !important;
  height: 650px !important;
}

#htmlwidget-6f66dca5431bfb50b4e6{
  width: 100% !important;
}

#htmlwidget-0fe3e3821db73c9def68{
  width: 100% !important;
}
